body {
	background: #eee;
}

* {
	box-sizing: border-box;
}



.l-content {
	width: 80%;
	margin: 10px auto;
	background: #fff;
}

.login__button {
	background: #ffcc00;
	margin-bottom: 10px;
	padding: 10px;
}
.login__button a {
	display: block;
}



.fade-box {
	width: 80%;
	background: #ddd;
	margin: 30px auto;
	padding: 30px;
}
